include head
.container
	.jumbotron
		form.form-horizontal(method="POST", action="#", data-toggle="validator")
			.form-group.has-feedback
				label.control-label.col-xs-4.col-sm-2.text-right(for="user_name") 用户名
				.col-xs-8
					input.form-control#user_name(
						type="text",
						name="user_name",
						autocomplete="off",
						maxlength=16,
						required,
						data-error="用户名不能为空"
					)
					.help-block.with-errors
			.form-group.has-feedback
				label.control-label.col-xs-4.col-sm-2.text-right(for="user_pwd") 密　码
				.col-xs-8
					input.form-control#user_pwd(
						type="password",
						name="user_pwd",
						autocomplete="off",
						maxlength=20,
						required,
						data-error="密码不能为空"
					)
					.help-block.with-errors
			.form-group
				.col-xs-8.col-xs-offset-4.col-sm-offset-2
					label(for="remember_login", data-toggle="tooltip", data-original-title="保存7天的登录状态")
						input#remember_login(
							type="checkbox",
							name="remember_login",
							value="1"
						)
						span(style="line-hight:22px;") &nbsp;&nbsp;记住我
			.form-group
				.col-sm-8.col-xs-12.col-sm-offset-2
					button.btn.btn-primary.btn-lg.btn-block#loginBtn(type="submit") 登&nbsp;&nbsp;录
script(type="text/javascript").
	$("[data-toggle=tooltip]").tooltip();

	Messenger.options = {
		extraClasses: 'messenger-fixed messenger-on-bottom',
		theme: 'flat',
		messageDefaults: {
			message: '默认信息',
			type: 'info',
			showCloseButton: true,
			hideAfter: 10
		}
	}

	$("form").validator().on('submit', function (e) {
		if(e.isDefaultPrevented()){
			// 
		}else{
			$("#loginBtn").addClass('disabled');
			$("#loginBtn").html('<i class="loadingSVG"></i>');
			var user_name = $("#user_name").val();
			var user_pwd = $("#user_pwd").val();
			var remember_login = $("#remember_login")[0].checked;
			Messenger().run({
				action: $.ajax,
				successMessage: '登录成功，请等待跳转……',
				errorMessage: '未知错误，登录失败！',
				progressMessage: '登陆中，请等待'
			}, {
				url: "/login",
				data: {
					user_name: user_name,
					user_pwd: user_pwd,
					remember_login: remember_login
				},
				method: "POST",
				success: function (d) {
					if(d != "ok"){
						$("#loginBtn").removeClass('disabled');
						$("#loginBtn").html("登&nbsp;&nbsp;录");
						return {
							type: "error",
							message: "用户名或密码错误！"
						};
					}else{
						location.href = "/user";
					}
				},
				error: function (d) {
					console.log(d);
					$("#loginBtn").removeClass('disabled');
					$("#loginBtn").html("登&nbsp;&nbsp;录");
				}
			});
			return false;
		}
	});